        <div class="navHeader">
            <div>
                <%- include('./logoPurple'); %>
                <h1>ClickSafe</h1>
            </div>
            <ul>
                <li><a href="/profile">Home</a></li>
                <li><a href="/register">Registration</a></li>
                <li><a href="/dummydash">Dashboard</a></li>
                <li><a href="/404">Error Message</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="#" id="logout">Sign-Out</a></li>
            </ul>
        </div>