        <div class="navHeader">
            <div>
                <%- include('./logoPurple'); %>
                <h1>ClickSafe</h1>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Home</a></li>
                <li><a href="/dashboard">Admin Dashboard</a></li>
                <li><a href="/404">Error Message</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>