        <div class="navHeader">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Admin Dashboard</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/404">Error Message</a></li>
            </ul>
        </div>