<Nav class ="sideMenu">
  <div>
            <svg width="54" height="60" viewBox="0 0 320 356" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M156.033 0.462886C157.973 -0.152847 160.056 -0.154286 161.996 0.458532L297.359 43.1975C300.549 44.2047 303.001 46.7149 303.827 49.9607C309.369 71.7382 329.352 157.697 314.781 212.909C294.379 290.218 190.912 343.26 166.517 354.815C163.212 356.38 159.505 356.396 156.188 354.856C131.577 343.427 26.6358 290.66 5.59192 212.909C-9.3037 157.874 9.68047 71.939 14.9998 50.0313C15.798 46.7441 18.2603 44.1935 21.4803 43.1714L156.033 0.462886ZM158.816 38.652C145.077 38.652 131.901 43.9391 122.187 53.35C112.472 62.7609 107.014 75.5248 107.014 88.8338V113.925H65.6865C62.9504 113.925 60.4513 115.515 59.4847 118.074C57.8556 122.388 56.4012 127.178 55.211 130.652C55.211 130.652 44.0569 167.834 46.9867 191.715C50.7249 222.185 58.3416 241.773 81.3062 262.907C119.846 298.373 141.246 309.76 155.458 317.193C158.783 318.933 162.738 318.995 166.12 317.363C180.7 310.325 198.906 298.43 238.511 264.363C262.682 243.572 270.333 222.777 273.273 191.594C275.539 167.553 262.432 130.681 262.421 130.652C261.544 127.797 259.862 122.593 258.611 118.744C257.676 115.866 254.993 113.925 251.967 113.925H210.619V88.8338C210.619 75.5248 205.161 62.7609 195.446 53.35C185.731 43.9391 172.555 38.652 158.816 38.652ZM240.304 130.652C243.221 130.652 245.825 132.452 246.751 135.219C250.307 145.841 258.384 172.738 256.005 191.594C252.71 217.718 249.287 229.869 226.301 252.535C204.964 273.575 179.331 293.219 166.264 300.265C162.804 302.131 158.669 302.155 155.19 300.322C142.053 293.401 111.619 274.796 91.5425 252.778C72.4787 231.871 67.6977 217.485 64.2542 191.715C61.7765 173.173 68.1227 146.553 71.0699 135.623C71.8706 132.654 74.5782 130.652 77.6537 130.652H240.304ZM160.304 176.369C153.403 176.371 146.732 178.861 141.512 183.383L141.504 183.39L141.495 183.398L141.044 183.797L141.036 183.804L141.028 183.812C136.081 188.296 132.84 194.371 131.875 200.997L131.874 201.007L131.872 201.018L131.792 201.616L131.789 201.638C130.974 208.271 132.489 214.989 136.085 220.634L136.097 220.651L136.426 221.156L136.432 221.166L136.439 221.175C139.877 226.315 144.875 230.2 150.681 232.268V247.295L150.683 247.485V247.497L150.683 247.509C150.745 249.979 151.751 252.334 153.499 254.085C155.248 255.836 157.6 256.845 160.066 256.906H160.078L160.09 256.906L160.28 256.909H160.305C162.858 256.909 165.306 255.892 167.111 254.085C168.859 252.334 169.865 249.979 169.927 247.509L169.927 247.497V247.485L169.929 247.295L169.93 247.282V232.268C175.735 230.2 180.733 226.314 184.171 221.175L184.184 221.157L184.513 220.652L184.519 220.643L184.525 220.634C188.237 214.807 189.732 207.836 188.736 200.997C187.739 194.157 184.318 187.904 179.098 183.383C174.041 179.002 167.623 176.529 160.952 176.376L160.306 176.369H160.304ZM158.816 55.3794C167.975 55.3794 176.759 58.9039 183.236 65.1778C189.713 71.4517 193.351 79.9611 193.351 88.8338V113.925H124.281V88.8338C124.281 79.9612 127.92 71.4517 134.396 65.1778C140.873 58.9039 149.657 55.3795 158.816 55.3794Z" fill="#B69DF8"/>
<path d="M177 205C177 214.389 169.389 222 160 222C150.611 222 143 214.389 143 205C143 195.611 150.611 188 160 188C169.389 188 177 195.611 177 205Z" fill="#B69DF8"/>
</svg>
<h2>ClickSafe</h2>

        </div>      
  <!-- Nav Items: Admin -->
        <ul>
        <% if (user.role === 'admin') { %>
            <li>
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_206_2607)">
<path d="M13.3335 6.66667C13.3335 7.37391 13.6144 8.05219 14.1145 8.55228C14.6146 9.05238 15.2929 9.33333 16.0002 9.33333C16.7074 9.33333 17.3857 9.05238 17.8858 8.55228C18.3859 8.05219 18.6668 7.37391 18.6668 6.66667C18.6668 5.95942 18.3859 5.28115 17.8858 4.78105C17.3857 4.28095 16.7074 4 16.0002 4C15.2929 4 14.6146 4.28095 14.1145 4.78105C13.6144 5.28115 13.3335 5.95942 13.3335 6.66667Z" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M26.6664 16.6665V22.9998C26.6752 23.148 26.6501 23.2962 26.5931 23.4332C26.5041 23.6476 26.3388 23.8215 26.1291 23.9212L18.8464 27.3612C17.9563 27.7815 16.9841 27.9995 15.9998 27.9995C15.0154 27.9995 14.0432 27.7815 13.1531 27.3612L5.87043 23.9212C5.69857 23.8397 5.55545 23.708 5.45999 23.5436C5.36453 23.3791 5.32121 23.1895 5.33576 22.9998V16.6665" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M5.90829 16.2881L13.4203 13.1788C15.0725 12.4958 16.9281 12.4958 18.5803 13.1788L26.0923 16.2881C26.2587 16.3561 26.4016 16.4712 26.5035 16.6193C26.6054 16.7675 26.6618 16.9421 26.6657 17.1218C26.6697 17.3016 26.6211 17.4785 26.5258 17.631C26.4306 17.7835 26.2929 17.9048 26.1296 17.9801L18.847 21.3708C17.9552 21.7854 16.9837 22.0002 16.0003 22.0002C15.0169 22.0002 14.0454 21.7854 13.1536 21.3708L5.87096 17.9801C5.70681 17.9054 5.56818 17.7843 5.47225 17.6316C5.37632 17.4789 5.3273 17.3014 5.33128 17.1211C5.33525 16.9408 5.39204 16.7657 5.49461 16.6174C5.59718 16.4691 5.74101 16.3554 5.90829 16.2881Z" fill="#6750A4"/>
<path d="M5.9078 16.2881L13.4198 13.1788C15.072 12.4958 16.9276 12.4958 18.5798 13.1788L26.0918 16.2881C26.2582 16.3561 26.4011 16.4712 26.503 16.6193C26.6049 16.7675 26.6613 16.9421 26.6652 17.1218C26.6692 17.3016 26.6206 17.4785 26.5253 17.631C26.4301 17.7835 26.2924 17.9048 26.1291 17.9801L18.8465 21.3708C17.9547 21.7854 16.9832 22.0002 15.9998 22.0002C15.0164 22.0002 14.0449 21.7854 13.1531 21.3708L5.87047 17.9801C5.70632 17.9054 5.56769 17.7843 5.47176 17.6316C5.37583 17.4789 5.32682 17.3014 5.33079 17.1211C5.33477 16.9408 5.39156 16.7657 5.49412 16.6174C5.59669 16.4691 5.74053 16.3554 5.9078 16.2881Z" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16 9.3335V17.3335" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_206_2607">
<rect width="32" height="32" fill="white"/>
</clipPath>
</defs>
</svg>
<a href="">Campaign Setup</a>
            </li>
            
            <li>
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_206_2606)">
<path d="M16 22.1089C16 21.7617 16.137 21.4287 16.3808 21.1832C16.6246 20.9377 16.9552 20.7998 17.3 20.7998H25.1C25.4448 20.7998 25.7754 20.9377 26.0192 21.1832C26.263 21.4287 26.4 21.7617 26.4 22.1089V26.6907C26.4 27.0379 26.263 27.3709 26.0192 27.6164C25.7754 27.8619 25.4448 27.9998 25.1 27.9998H17.3C16.9552 27.9998 16.6246 27.8619 16.3808 27.6164C16.137 27.3709 16 27.0379 16 26.6907V22.1089Z" fill="#6750A4"/>
<path d="M5.3335 16.0002C5.3335 15.2929 5.61445 14.6146 6.11454 14.1145C6.61464 13.6144 7.29292 13.3335 8.00016 13.3335H24.0002C24.7074 13.3335 25.3857 13.6144 25.8858 14.1145C26.3859 14.6146 26.6668 15.2929 26.6668 16.0002V25.3335C26.6668 26.0407 26.3859 26.719 25.8858 27.2191C25.3857 27.7192 24.7074 28.0002 24.0002 28.0002H8.00016C7.29292 28.0002 6.61464 27.7192 6.11454 27.2191C5.61445 26.719 5.3335 26.0407 5.3335 25.3335V16.0002Z" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M9.3335 13.3333V10.8507C9.3335 7.06667 12.3188 4 16.0002 4C19.6815 4 22.6668 7.06667 22.6668 10.8507V13.3333" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13.98 23.4361C14.4293 23.8228 14.9133 24.0001 16 24.0001H16.5507C16.9813 24.0001 17.3947 23.8228 17.7 23.5095C18.0059 23.1924 18.1761 22.7687 18.1747 22.3281C18.1747 21.8855 18.004 21.4615 17.7 21.1468C17.551 20.9923 17.3725 20.8692 17.1751 20.7849C16.9777 20.7007 16.7653 20.6569 16.5507 20.6561H15.4493C15.235 20.6556 15.0229 20.6121 14.8257 20.528C14.6285 20.444 14.4501 20.3211 14.3013 20.1668C13.9955 19.8498 13.8252 19.426 13.8267 18.9855C13.8267 18.5428 13.9973 18.1175 14.3013 17.8041C14.45 17.6496 14.6283 17.5265 14.8255 17.4422C15.0227 17.3579 15.2349 17.3141 15.4493 17.3135H16C17.088 17.3135 17.5707 17.4908 18.02 17.8775" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_206_2606">
<rect width="32" height="32" fill="white"/>
</clipPath>
</defs>
</svg>
<a href="">Item 2</a>
            </li>

            <li>
             <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_206_2608)">
<path d="M12 15.3144C12 14.8597 12.1873 14.4237 12.5207 14.1022C12.8541 13.7807 13.3063 13.6001 13.7778 13.6001H26.2222C26.6937 13.6001 27.1459 13.7807 27.4793 14.1022C27.8127 14.4237 28 14.8597 28 15.3144V23.8858C28 24.3405 27.8127 24.7765 27.4793 25.098C27.1459 25.4195 26.6937 25.6001 26.2222 25.6001H13.7778C13.3063 25.6001 12.8541 25.4195 12.5207 25.098C12.1873 24.7765 12 24.3405 12 23.8858V15.3144Z" fill="#6750A4"/>
<path d="M4 9.33317C4 8.62593 4.28095 7.94765 4.78105 7.44755C5.28115 6.94746 5.95942 6.6665 6.66667 6.6665H25.3333C26.0406 6.6665 26.7189 6.94746 27.219 7.44755C27.719 7.94765 28 8.62593 28 9.33317V22.6665C28 23.3737 27.719 24.052 27.219 24.5521C26.7189 25.0522 26.0406 25.3332 25.3333 25.3332H6.66667C5.95942 25.3332 5.28115 25.0522 4.78105 24.5521C4.28095 24.052 4 23.3737 4 22.6665V9.33317Z" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8 10.6665H8.01333" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12 10.6665H12.0133" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_206_2608">
<rect width="32" height="32" fill="white"/>
</clipPath>
</defs>
</svg>

<a href="">Item 3</a>
            </li>

            <li>
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_206_2609)">
<rect x="4" y="17.6001" width="17.6" height="10.4" rx="5.2" fill="#6750A4"/>
<path d="M4 4V28H28" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M26.6665 24V28" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M21.3335 21.3335V28.0002" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16 17.3335V28.0002" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M10.6665 21.3335V28.0002" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M4 14.6667C12 14.6667 10.6667 8 16 8C21.3333 8 20 14.6667 28 14.6667" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_206_2609">
<rect width="32" height="32" fill="white"/>
</clipPath>
</defs>
</svg>
<a href="">Item 4</a>
            </li>
    <% } %>
        </ul>



        <!--  Nav Items: User/all-->
        <ul>
            <li>
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_206_2611)">
<path d="M10.6665 9.33333C10.6665 10.7478 11.2284 12.1044 12.2286 13.1046C13.2288 14.1048 14.5853 14.6667 15.9998 14.6667C17.4143 14.6667 18.7709 14.1048 19.7711 13.1046C20.7713 12.1044 21.3332 10.7478 21.3332 9.33333C21.3332 7.91885 20.7713 6.56229 19.7711 5.5621C18.7709 4.5619 17.4143 4 15.9998 4C14.5853 4 13.2288 4.5619 12.2286 5.5621C11.2284 6.56229 10.6665 7.91885 10.6665 9.33333Z" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8 28V25.3333C8 23.9188 8.5619 22.5623 9.5621 21.5621C10.5623 20.5619 11.9188 20 13.3333 20H16.6667" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22.668 25.3332C22.668 26.0404 22.9489 26.7187 23.449 27.2188C23.9491 27.7189 24.6274 27.9998 25.3346 27.9998C26.0419 27.9998 26.7202 27.7189 27.2203 27.2188C27.7204 26.7187 28.0013 26.0404 28.0013 25.3332C28.0013 24.6259 27.7204 23.9477 27.2203 23.4476C26.7202 22.9475 26.0419 22.6665 25.3346 22.6665C24.6274 22.6665 23.9491 22.9475 23.449 23.4476C22.9489 23.9477 22.668 24.6259 22.668 25.3332Z" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M25.3345 20.6665V22.6665" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M25.3345 28V30" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M29.376 23L27.644 24" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M23.0268 26.6665L21.2935 27.6665" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M21.2935 23L23.0268 24" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M27.644 26.6665L29.3774 27.6665" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_206_2611">
<rect width="32" height="32" fill="white"/>
</clipPath>
</defs>
</svg>

<a href="">Account</a>
            </li>

            <li>
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_206_2612)">
<path d="M16.668 27.9067C15.5133 28.24 14.116 27.6853 13.7667 26.244C13.6814 25.8923 13.5144 25.5656 13.2791 25.2907C13.0437 25.0157 12.7468 24.8002 12.4125 24.6617C12.0781 24.5232 11.7158 24.4655 11.355 24.4935C10.9941 24.5215 10.645 24.6343 10.336 24.8227C8.27867 26.076 5.92267 23.7213 7.176 21.6627C7.36414 21.3538 7.47673 21.0049 7.50465 20.6443C7.53256 20.2837 7.47499 19.9216 7.33663 19.5875C7.19827 19.2533 6.98301 18.9566 6.70836 18.7213C6.43371 18.486 6.10742 18.3188 5.756 18.2333C3.41467 17.6653 3.41467 14.3347 5.756 13.7667C6.10773 13.6814 6.43437 13.5144 6.70933 13.2791C6.98429 13.0437 7.19981 12.7468 7.33833 12.4125C7.47685 12.0781 7.53447 11.7158 7.50649 11.355C7.47852 10.9941 7.36574 10.645 7.17733 10.336C5.924 8.27867 8.27867 5.92267 10.3373 7.176C11.6707 7.98667 13.3987 7.26933 13.7667 5.756C14.3347 3.41467 17.6653 3.41467 18.2333 5.756C18.3186 6.10773 18.4856 6.43437 18.7209 6.70933C18.9563 6.98429 19.2532 7.19981 19.5875 7.33833C19.9219 7.47685 20.2842 7.53447 20.645 7.50649C21.0059 7.47852 21.355 7.36574 21.664 7.17733C23.7213 5.924 26.0773 8.27867 24.824 10.3373C24.6359 10.6462 24.5233 10.9951 24.4954 11.3557C24.4674 11.7163 24.525 12.0784 24.6634 12.4125C24.8017 12.7467 25.017 13.0434 25.2916 13.2787C25.5663 13.514 25.8926 13.6812 26.244 13.7667C27.676 14.1133 28.2307 15.4947 27.9133 16.644" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M25.3335 29.3335V21.3335" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M29.3335 25.3335L25.3335 21.3335L21.3335 25.3335" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12 16C12 17.0609 12.4214 18.0783 13.1716 18.8284C13.9217 19.5786 14.9391 20 16 20C17.0609 20 18.0783 19.5786 18.8284 18.8284C19.5786 18.0783 20 17.0609 20 16C20 14.9391 19.5786 13.9217 18.8284 13.1716C18.0783 12.4214 17.0609 12 16 12C14.9391 12 13.9217 12.4214 13.1716 13.1716C12.4214 13.9217 12 14.9391 12 16Z" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_206_2612">
<rect width="32" height="32" fill="white"/>
</clipPath>
</defs>
</svg>

<a href="">Settings</a>
            </li>

             <li>
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_206_2615)">
<circle cx="20.0002" cy="21.3332" r="6.66667" fill="#6750A4"/>
<path d="M4 16C4 17.5759 4.31039 19.1363 4.91345 20.5922C5.5165 22.0481 6.40042 23.371 7.51472 24.4853C8.62902 25.5996 9.95189 26.4835 11.4078 27.0866C12.8637 27.6896 14.4241 28 16 28C17.5759 28 19.1363 27.6896 20.5922 27.0866C22.0481 26.4835 23.371 25.5996 24.4853 24.4853C25.5996 23.371 26.4835 22.0481 27.0866 20.5922C27.6896 19.1363 28 17.5759 28 16C28 14.4241 27.6896 12.8637 27.0866 11.4078C26.4835 9.95189 25.5996 8.62902 24.4853 7.51472C23.371 6.40042 22.0481 5.5165 20.5922 4.91345C19.1363 4.31039 17.5759 4 16 4C14.4241 4 12.8637 4.31039 11.4078 4.91345C9.95189 5.5165 8.62902 6.40042 7.51472 7.51472C6.40042 8.62902 5.5165 9.95189 4.91345 11.4078C4.31039 12.8637 4 14.4241 4 16Z" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16 22.6665V22.6798" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M16.0002 18.0001C15.9756 17.5672 16.0924 17.1381 16.3329 16.7774C16.5733 16.4167 16.9245 16.1439 17.3335 16.0001C17.8347 15.8084 18.2845 15.503 18.6476 15.108C19.0107 14.713 19.2771 14.239 19.4259 13.7235C19.5747 13.208 19.6018 12.665 19.5051 12.1372C19.4084 11.6094 19.1905 11.1113 18.8686 10.6821C18.5466 10.2528 18.1295 9.90417 17.6499 9.66355C17.1703 9.42293 16.6414 9.29691 16.1049 9.29542C15.5683 9.29394 15.0387 9.41702 14.5578 9.65497C14.0769 9.89293 13.6578 10.2393 13.3335 10.6667" stroke="#FFFBFE" stroke-linecap="round" stroke-linejoin="round"/>
</g>
<defs>
<clipPath id="clip0_206_2615">
<rect width="32" height="32" fill="white"/>
</clipPath>
</defs>
</svg>

<a href="">Support</a>
            </li>

            <li>
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17 5C17 4.73478 17.1054 4.48043 17.2929 4.29289C17.4804 4.10536 17.7348 4 18 4H26C26.2652 4 26.5196 4.10536 26.7071 4.29289C26.8946 4.48043 27 4.73478 27 5L27 27C27 27.2652 26.8946 27.5196 26.7071 27.7071C26.5196 27.8946 26.2652 28 26 28H18C17.7348 28 17.4804 27.8946 17.2929 27.7071C17.1054 27.5196 17 27.2652 17 27C17 26.7348 17.1054 26.4804 17.2929 26.2929C17.4804 26.1054 17.7348 26 18 26H25L25 6H18C17.7348 6 17.4804 5.89464 17.2929 5.70711C17.1054 5.51957 17 5.26522 17 5ZM3.2925 16.7075L8.2925 21.7075C8.48014 21.8951 8.73464 22.0006 9 22.0006C9.26536 22.0006 9.51986 21.8951 9.7075 21.7075C9.89514 21.5199 10.0006 21.2654 10.0006 21C10.0006 20.7346 9.89514 20.4801 9.7075 20.2925L6.41375 17H18C18.2652 17 18.5196 16.8946 18.7071 16.7071C18.8946 16.5196 19 16.2652 19 16C19 15.7348 18.8946 15.4804 18.7071 15.2929C18.5196 15.1054 18.2652 15 18 15H6.41375L9.7075 11.7075C9.89514 11.5199 10.0006 11.2654 10.0006 11C10.0006 10.7346 9.89514 10.4801 9.7075 10.2925C9.51986 10.1049 9.26536 9.99944 9 9.99944C8.73464 9.99944 8.48014 10.1049 8.2925 10.2925L3.2925 15.2925C3.19952 15.3854 3.12576 15.4957 3.07544 15.6171C3.02512 15.7385 2.99921 15.8686 2.99921 16C2.99921 16.1314 3.02512 16.2615 3.07544 16.3829C3.12576 16.5043 3.19952 16.6146 3.2925 16.7075Z" fill="#FFFBFE"/>
</svg>

<a href="">Sign Out</a>
            </li>

        </ul>
    </nav>