@import url(global.css);
body{
    height: 100vh;
}
main{
    margin: 6rem 2rem 2rem 2rem;
}
main h1{
    color: var(--PrimaryMidPurple);
    text-align: center;
    margin-bottom: 2rem;
    font-family: var(--HeadFont);
}

main p{
    color:#FFF;
    margin: 0 auto;
    font-family: var(--BodyFont);
}
a{
    color: #FFF;
}

.buttons{
    display: flex;
    gap: 1rem;
    margin: auto;
    margin-top: 5rem;
    justify-content: space-around;
}

.buttons a{
    text-decoration: none;
    color: #FFF;
    height: 40px;
    padding: 1.5rem;
    border-radius: 20px;
    background: var(--PrimaryMidPurple);
    display: flex;
    align-items: center;
}

main div a:hover{
    background: #a083f0;
}