main{
    margin: 3rem; 
}
section{
    font-family: var(--BodyFont);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;          
}

main h1{
    margin-bottom: 2rem;
}

#faq-container { 
    background: none;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

main h2 {
    color: #beb1e1;
    margin-bottom: .5rem; 
}
main p{
    color: #fff;
}