@import url('global.css');

.navHeader {
    background-color: var(--RegistrationContainer);
    padding: 1rem;
}

.navHeader ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navHeader a {
    color: var(--PrimaryMidPurple);
    font-family: var(--BodyFont);
    font-size: large;
}

.navHeader a:hover {
    color: #fff;
}

.navHeader ul li:last-of-type{
    color: #fff;
    background: var(--FaqButton);
    padding: 1rem;
}
