<!DOCTYPE html>
<html lang="en">
<head>
<%- include('../partials/head') %>
</head>

<body>
    

    <main>
        <h1>Error 404</h1>
        <p>Looks like something went wrong. 
            <br>
            Let's get you back to  the <a href="/pages/index.html">Home page</a>.
        </p>
    </main>

<%- include('../partials/footer') %>
</body>
</html>