<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="dashboard.css">
    <script src="/app.js" defer></script>
</head>
<body>

    <h1><%= title %></h1>
    
    <div id="images"></div>

    <%- include('../includes/footer') %>
</body>
</html>