<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <main>
        <div id="backingBox">
            <div id="logoContainer">
                <%- include('../includes/logo') %>
            </div>

            <h1>Welcome to ClickSafe</h1>
            <h2>Please select your identification</h2>

        
            <div id="landing-links">
                <div id="link-left">
                    <a href="/admin">Admin Login</a>
                </div>
                <div id="landing-right">
                    <a href="/user">Team Login</a>
                </div>
            </div>
        </div>
        
        <div id="signup">
        <p>New to ClickSafe?        <a href="">Create an account</a></p>

        </div>
    </main>
        <%- include('../includes/footer') %>
</body>
</html>