<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/register.js" defer></script>
</head>
<body>
    <header>
    <%- include('../includes/nav') %>
    </header>
    <main>
        <section>
            <h2>Register</h2>
                <form id="register" method="POST">
                    <input type="hidden" value="company" value="3">
                    <div>
                        <label for="username">Username*</label>
                        <input type="text" name="username" id="username" required>
                    </div>
                     <div>
                        <label for="username">Email</label>
                        <input type="emial" name="email" id="email" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/i">
                    </div>
                    <div>
                        <label for="password">Password*</label>
                        <input type="password" name="password" id="password" required>
                    </div>
                    <select name="role" id="role" required>
                        <option value="">Select Role</option>
                        <option value="user">User</option>
                        <option value="admin">Admin</option>
                    </select>
                        <button type="submit">Register</button>
                </form>
                <a href="/api/auth/google">Login with Google</a> 
        </section>
        <section>
           <%- include('../includes/logoPurple') %>
            <h2>Welcome to ClickSafe</h2>
            <p>Register your business, allow employees to be added to your network, then you’ll be able to start a campaign from your admin dashboard. </p>

            <p>Thank you for using ClickSafe!</p>

            <a href="/" class="backButton">Go back</a>
        </section>




        </section>
        
    </main>
    <%- include('../includes/footer') %>
</body>
</html>