<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head') %>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>
    <header>
    <%- include('../includes/nav') %>
    </header>
<body>
    <h1>Successfully Registered</h1>
</body>
</html>